<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.css</url-pattern>
    <url-pattern>*.js</url-pattern>
    <url-pattern>*.png</url-pattern>
    <url-pattern>*.gif</url-pattern>
    <url-pattern>*.jpg</url-pattern>
    <url-pattern>*.config</url-pattern>
    <url-pattern>*.hbm.xml</url-pattern>
  </servlet-mapping>



  <welcome-file-list>
    <welcome-file>/WEB-INF/pages/index.jsp</welcome-file>
  </welcome-file-list>



  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/WEB-INF/pages/login.jsp</form-login-page>
      <form-error-page>/WEB-INF/pages/error.jsp</form-error-page>
    </form-login-config>
  </login-config>

  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error</location>
  </error-page>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>HtmlAuth</web-resource-name>
      <description>application security constraints</description>
      <url-pattern>/profile</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>User</role-name>
    </auth-constraint>
  </security-constraint>





  <security-role>
    <role-name>Administrator</role-name>
  </security-role>
  <security-role>
    <role-name>Manager</role-name>
  </security-role>
  <security-role>
    <role-name>User</role-name>
  </security-role>
  <security-role>
    <role-name>Anonymous</role-name>
  </security-role>

</web-app>
